<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="mediaFolderName" value="100MEDIA"/>
    <add key="panoramaFolderName" value="PANORAMA"/>
    <add key="timelapseFolderName" value="TIMELAPSE"/>
    <add key="defaultSourcePath"  value="G:\DCIM"/>
    <add key="defaultDestinationPath"  value="F:\Footages\DJI\Osmo+"/>
    <add key="dateFolderFormat" value="yyyy-MM-dd"/>
  </appSettings>
</configuration>
